{% extends 'base.html.twig' %}
{% block body %}
<div class="content-wrapper"><br><br>
    <div class="content-header">
        <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>GESTIONS DES RECLAMATIONS</strong></span></h1><br>
        <div><center><a href="/Reclamation/new" type="button"  ><i class="fas fa-plus-circle fa-2x"></i> </a>
                <a href="/R" class="btn btn-primary">Boite Reception : <b>{{ NotifNB }}</b></a>&nbsp;
                <a href="/RC" class="btn btn-primary">Corbeille</a>
                <a href="/RA" class="btn btn-primary">Archive</a></center></div><br>
        <div class="input-group mb-3">
            <input id="gfg" type="text" class="form-control" placeholder="Enter your text..." aria-label="Enter your text..." aria-describedby="basic-addon2">
            <div class="input-group-append"><span class="input-group-text" id="basic-addon2">Search</span></div>
        </div></div>
        {% if articles %}
            <table id="articles" class="table  table-bordered table-hover table-dark   ">
                <thead>
                <tr>
                    <th>Id Reclamation</th>
                    <th>Title</th>
                    <th>Etat </th>
                    <th>Reclamation</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody id="geeks">
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.etat }}</td>
                        <td>{{ article.recl}}</td>
                        <td>
                            <a href="/Messagerie" class="btn btn-secondary">Messagerie</a>
                            <a href="/Reclamation/edit/{{ article.id }}" class="btn btn-info">Modifier</a>
                            <a href="/Reclamation/corbeille/{{ article.id }}" class="btn btn-danger"
                               onclick="return confirm('Etes-vous sûr de supprimer cet reclamation?');">Corbeille</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table><br><br><br><br>
        {% else %}
            <p>Aucun articles</p>
        {% endif %}

    </div>
    <!-- /.content-header -->

    <!-- Main content -->

    <!-- /.content -->
</div>
    <script>
        $(document).ready(function() {
            $("#gfg").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#geeks tr").filter(function() {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}