{% extends 'admin/backendAdmin.html.twig' %}
{% block nouvelle %}
    <span style="color: #61aac9;"><h4><p style="text-align: left;"><strong>Vous avez recu (&nbsp;{{ NotifNB}} ) Nouveaux Messages !!&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p></h4></span>
{% endblock %}
{% block central %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <div class="container-xl">
        <h1 style="text-align: center;"><span  style="color: #ffffff;"><strong>GESTIONS DES RECLAMATIONS </strong></span></h1>
        <div><center><a href="/Reclamation/new" type="button"  class="btn btn-primary" ><b>+</b> </a>
                <a href="/R" class="btn btn-primary"><b>BOITE RECEPTION : {{ NotifNB }}</b> </a>&nbsp;
                <a href="/RC" class="btn btn-primary"><b>CORBEILLE</b></a>
                <a href="/RA" class="btn btn-primary"><b>ARCHIVE</b></a>
                &nbsp;<a href="/PDF" class="btn btn-primary"><b>PDF</b></a></center>

        </div><br>
        <div class="input-group mb-3">
            <input id="gfg" type="text" class="form-control" placeholder="Enter your text..." aria-label="Enter your text..." aria-describedby="basic-addon2">
            <div class="input-group-append"><span class="input-group-text" id="basic-addon2">Search</span></div>
        </div></div>
    <div class="content-header">
        {% if articles %}
            <table id="articles" class="table  table-bordered table-hover table-dark   ">
                <thead>
                <tr>
                    <th>Id Reclamation</th>
                    <th>Title</th>
                    <th>Etat </th>
                    <th>Reclamation</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="geeks">
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.etat }}</td>
                        <td>{{ article.recl}}</td>
                        <td>
                            <a href="/Messagerie" class="btn btn-secondary">Messagerie</a>
                            <a href="/Reclamation/restore/{{ article.id }}" class="btn btn-info"
                               onclick="return confirm('Etes-vous sûr de restaurer la reclamation ?');">Restaurer</a>
                            <a href="/Reclamation/delete/{{ article.id }}" class="btn btn-danger"
                               onclick="return confirm('Etes-vous sûr de supprimer définitivement cet reclamation?');">Supprimer</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table><br><br><br><br>
        {% else %}
            <p>Aucune reclamation</p>
        {% endif %}

    </div>
    <!-- /.content-header -->

    <!-- Main content -->

    <!-- /.content -->
</div>
    <script>
        $(document).ready(function() {
            $("#gfg").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#geeks tr").filter(function() {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}