{% extends 'admin/backendAdmin.html.twig' %}
{% block central %}





        <div class="container-xl">


            <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>GESTIONS DES APPRENANTS</strong></span></h1>
            <div class="float-sm-right"> <a href="/Apprenant/new" type="button"  ><i class="fas fa-plus-circle fa-2x"></i> </a></div>

            <form method="post" action="{{ path('gogogogogogo') }}">
                <div class="input-group mb-3">

                    <input type="text" class="form-control" name="search" placeholder="Recipient's username" >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>


        </b>
        <div class="content-header">
            {% if articles %}
                <table id="articles" class="table  table-bordered table-hover table-dark   ">
                    <thead>
                    <tr>
                        <th>Id apprenant</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>email </th>
                        <th>Image</th>

                        <th>status</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody id="geeks">
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.nom }}</td>
                            <td>{{ article.prenom }}</td>
                            <td>{{ article.email }}</td>
                            <td><img src="{{ asset('uploads/' ~ article.photo) }}" style="width: 50px;height: 50px"></td>

                            <td>{{ article.status }}</td>






                            <td>
                                <a href="/Apprenant/{{ article.id }}" class="btn btn-secondary">Détails</a>
                                <a href="/Apprenant/edit/{{ article.id }}" class="btn btn-info">Modifier</a>
                                <a href="/deleteApprenantAdminNow/{{ article.id }}" class="btn btn-danger"
                                   onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucun articles</p>
            {% endif %}

        </div>
        <!-- /.content-header -->

    <!-- Main content -->

    <!-- /.content -->

    <!-- Content Wrapper. Contains page content -->
    <script>
        $(document).ready(function() {
            $("#gfg").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#geeks tr").filter(function() {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}



