{% extends 'base.html.twig' %}
{% block body %}

<div class="content-wrapper">
    <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>GESTIONS DES APPRENANTS</strong></span></h1>
    <div class="container-xl">
        <div class="float-sm-right"> <a href="/Apprenant/new" type="button"  ><i class="fas fa-plus-circle fa-2x"></i> </a></div>
    </div>
    <div class="content-header">
    {% if articles %}
        <table id="articles" class="table  table-bordered table-hover table-dark   ">
            <thead>
            <tr>
                <th>Id apprenant</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>email </th>
                <th>password</th>
                <th>Image</th>

                <th>status</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.prenom }}</td>
                    <td>{{ article.email }}</td>
                    <td>{{ article.password }}</td>
                    <td><img src="{{ asset('uploads/' ~ article.photo) }}" style="width: 50px;height: 50px"></td>

                    <td>{{ article.status }}</td>






                    <td>
                        <a href="/Apprenant/{{ article.id }}" class="btn btn-secondary">Détails</a>
                        <a href="/Apprenant/edit/{{ article.id }}" class="btn btn-info">Modifier</a>
                        <a href="/Apprenant/delete/{{ article.id }}" class="btn btn-danger"
                           onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun articles</p>
    {% endif %}

    </div>
    <!-- /.content-header -->

    <!-- Main content -->

    <!-- /.content -->
</div>
    <!-- /.content-wrapper -->

{% endblock %}

