{% extends 'base.html.twig' %}
{% block body %}

    <!-- Content here -->


    {% if articles %}
        <table id="articles" class="table  table-bordered table-hover table-dark   ">
            <thead>
            <tr>
                <th>Id apprenant</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>email </th>
                <th>password</th>
                <th>status</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.idapprenant }}</td>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.prenom }}</td>
                    <td>{{ article.email }}</td>
                    <td>{{ article.password }}</td>
                    <td>{{ article.status }}</td>






                    <td>
                        <a href="/Apprenant/{{ article.idapprenant }}" class="btn btn-secondary">Détails</a>
                        <a href="/Apprenant/edit/{{ article.idapprenant }}" class="btn btn-info">Modifier</a>
                        <a href="/Apprenant/delete/{{ article.idapprenant }}" class="btn btn-danger"
                           onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun articles</p>
    {% endif %}

{% endblock %}
