{% extends 'admin/backendAdmin.html.twig' %}
{% block central %}
        <div class="container">
                <div class="form-group">
                        <div class="text-center">

                                <img src="{{ asset('uploads/' ~ article.photo) }}" class="img-fluid" alt="Responsive image" style="width: 100px;height: 100px">
                        </div>
                </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Id </label>

                <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ article.id  }}">
        </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Nom </label>
                <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ article.nom  }}">
        </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Prenom</label>
                <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value=" {{ article.prenom  }}">
        </div>

        <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ article.email  }}">
        </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ article.password  }}">
        </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Status</label>
                <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ article.status  }}">
        </div>



        </div>
        </div>
{% endblock %}