{% extends 'admin/backendAdmin.html.twig' %}
{% block loader %}

{% endblock %}

{% block nouvelle %}

    <li class="nav-item">
        <a href="{{ path('evenement_semaine') }}" class="btn btn-default"><span style="color: #7dace0;"><b>Evenements de la semaine</b></span></a>
    </li>&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
        <a href="{{ path('evenement_prochain') }}" class="btn btn-default" ><span style="color: #7dace0;"><b>Evenements prochains</b></span></a>
    </li>&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
        <a href="{{ path('evenement_new') }}" class="btn btn-default" ><span style="color: #7dace0;"><b>Ajouter Evenement</b></span></a>
    </li>&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
        <a href="{{ path('evenement_new') }}" class="btn btn-default" ><span style="color: #7dace0;"><b>Editer Calendar</b></span></a>
    </li>&nbsp;&nbsp;&nbsp;
{% endblock %}

{% block form %}<form class="form-inline" action="{{ path('evenement_date',{'dat':'5555'})}} " method="GET">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" name="dateR" type="date" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock %}



{% block central %}

    {{ dump(data) }}
    <div id = "calendar">


    </div>
        <script>
            window.onload = () => {
                let calendarEl = document.querySelector("#calendar")
                let calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    locale: 'fr',
                    events:{{ data |raw }},
                    timeZone: 'Europe/Paris',
                    editable: true

                });

                calendar.on('eventChange', (e) =>{
                    console.log(e);

                    let url = `/evenement/calendar/${e.event.id}/update`
                    let donner = {
                        "id" : e.event.id,
                        "lien" : e.event.extendedProps.lien,
                        "image" : e.event.extendedProps.image,
                        "date": e.event.start,
                        "presentateur": e.event.extendedProps.presentateur,
                        "title": e.event.title
                    }
                    let envoyer = new XMLHttpRequest()
                    envoyer.open("PUT",url)
                    envoyer.send(JSON.stringify(donner))
                })
                calendar.render();
            }

        </script>








{% endblock %}
