{% extends 'admin/backendAdmin.html.twig' %}
{% block central %}





        <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>Users blocked</strong></span></h1>

        <div class="content-header">
            {% if articles %}
                <table id="articles" class="table  table-bordered table-hover table-dark   ">
                    <thead>
                    <tr>
                        <th>Id apprenant</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>email </th>

                        <th>Image</th>

                        <th>status</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.nom }}</td>
                            <td>{{ article.prenom }}</td>
                            <td>{{ article.email }}</td>
                            <td><img src="{{ asset('uploads/' ~ article.photo) }}" style="width: 50px;height: 50px"></td>

                            <td>{{ article.status }}</td>






                            <td>
                                <a href="/Admin/Unblock/{{ article.id }}" class="btn btn-secondary">Unblock</a>



                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucun articles</p>
            {% endif %}

        </div>


{% endblock %}

