{% extends 'base.html.twig' %}

{% block title %}Promotion index{% endblock %}

{% block body %}
    <h1>Promotion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPromotion</th>
                <th>Promotion</th>
                <th>RaisonPromotion</th>
                <th>DatePromotion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.idPromotion }}</td>
                <td>{{ promotion.promotion }}</td>
                <td>{{ promotion.raisonPromotion }}</td>
                <td>{{ promotion.datePromotion ? promotion.datePromotion|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('promotion_show', {'idPromotion': promotion.idPromotion}) }}">show</a>
                    <a href="{{ path('promotion_edit', {'idPromotion': promotion.idPromotion}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('promotion_new') }}">Create new</a>
{% endblock %}
