{% extends 'base.html.twig' %}
{% block body %}


        <h1>{{ article.idprofesseur  }}</h1>
        <p>{{ article.nom }}</p>
        <h1>{{ article.prenom }}</h1>
        <p><img src="{{ asset('uploads/' ~ article.photo) }}" style="width: 50px;height: 50px"></p>
        <h1>{{ article.email  }}</h1>
        <p>{{ article.password }}</p>
        <p>{{ article.specialite }}</p>
        <p>{{ article.profil }}</p>
        <hr>
        <a href="/">Retour</a>


{% endblock %}