{% extends 'base.html.twig' %}
{% block body %}
<div class="container">

        <h1>{{ article.idprofesseur  }}</h1>
        <p>{{ article.nom }}</p>
        <h1>{{ article.prenom }}</h1>
        <p>{{ article.photo }}</p>
        <h1>{{ article.email  }}</h1>
        <p>{{ article.password }}</p>
        <p>{{ article.specialite }}</p>
        <p>{{ article.profil }}</p>
        <hr>
        <a href="/">Retour</a>

</div>
{% endblock %}