
{% block title %}Supportcours{% endblock %}

{% block body %}
    <h1>Supportcours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSupportcours</th>
                <td>{{ supportcour.idSupportcours }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ supportcour.nom }}</td>
            </tr>
            <tr>
                <th>DateDepot</th>
                <td>{{ supportcour.dateDepot }}</td>
            </tr>
            <tr>
                <th>LangueCours</th>
                <td>{{ supportcour.langueCours }}</td>
            </tr>
            <tr>
                <th>Liencours</th>
                <td>{{ supportcour.liencours }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
